
body{

	background: #777;
    width: 960px;
    text-align: center;
    color: darkgrey;
    font-size: 18px;
    font-family:'Helvetica Neue', Helvetica, sans-serif;
}
	

header{
	
	background: #eee;
    width: 900px;
    margin: 5px ;
    height: 40px;
   margin:5px 50px 5px 50px;

}
nav{
    
	background: #eee;
    margin: 5px ;
    height: 40px;
    width: 900px;
   margin:5px 50px 5px 50px;
}
#section-box{
	
	background: #eee;  
    padding-top: 15px;
    float: left;
    width: 465px;
    height: 240px;
	margin:50px ;	
}
#article-box {
    background-color: #777;
    width:400px;
    height: 140px;
    border-width: 10%;
    margin: 45px;
    padding-bottom: 25px;
    color: white;


}

#head-box{
    width: 280px;
    height: 35px;
     border-width: 10%;
    /*padding: 5px ;*/
    margin left:15%;
   /* float:left;*/
    color:darkgrey;
}

#paragraph-box{
    width: 280px;
    height: 35px;
   /* padding: 5px;*/
    margin: 0px 20px 0px 20px ;
    /*float: left;*/
    color: darkgrey;

}

aside{
	color: darkgrey;
	background: #eee;
    padding: 15px;
    float: right;
    width: 355px;
    height: 225px;
    margin-top: 50px;
    margin-left: -20px;

}

footer{
	color: darkgrey;
	background: #eee;
   /* margin: 100px;*/
    width: 960px;
    height: 40px ; 
    margin:5px 50px 5px 50px;
    clear: both;
}
